[user]
    name = tim 
    email = tradcliffe2@gmail.com

[core]
    editor = code --wait
    autocrlf = true

[alias]
    st = status
    co = checkout
    br = branch
    cm = commit
    lg = log --oneline --graph --all

[color]
    ui = auto

[push]
    default = simple